
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--Header--*/
.navbar{
    background-color: rgb(155, 153, 153);
}
.navbar-nav{
    display: flex;
    justify-content:space-evenly; 
}

.navbar-light .navbar-nav .nav-link{
    color: purple;
    font-size: 1.2rem;
    font-family: merienda;
    margin: 2vw;
}

.navbar-light .navbar-nav .nav-link:hover{
	transform: scale(1.3);
	transition: transform 1s;
	color: #ecf3f7;
	border: solid 0.1rem;
	border-radius: 0.5rem;
}
body{
    font-family:merienda;
    /* background-color: rgb(128, 84, 121); */
};
    
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
h1 {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}  

#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}

#seccion-productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    max-width: 70rem;
    padding-top: 5rem;
    margin: 5rem auto;
}

p {
    line-height: 1.8;
}
.producto {
    display: block;
    width: 15rem;
    height: 23rem;
    padding-top: .5rem;
    margin: 1rem;
    background-color: lightslategray;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
img {
    width: 100%;
    margin-bottom: 1rem;
}
.card-img{
    width: 10rem;
    height: 12rem;
    text-align: center;
    border: solid rgb(128, 84, 121);
    
}
h4{
    color: rgb(128, 84, 121);
}

.precioProducto {
    font-weight: 700;
    color: rgb(82, 10, 87);
}
.boton-agregar {
    background-color: rgb(128, 84, 121);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 8rem;
    border-radius: .5rem;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-seccion {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
} 

.modal-active {
    opacity: 1;
    visibility: visible;
}
 
.modal-carrito {
    position: relative;
    background-color: white;
    width: 30rem;
    padding: 2rem;
    margin-top: -120%;
    transition: all .5s;
}



.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: solid;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}


/*Footer*/
.footer{
    background-color: rgb(155, 153, 153);
}

.textoRedes{
    font-family: merienda;
    font-size:1.5rem;
    color: white;
    font-style: italic;
}
.icono{
    width: 3rem;
    margin: .5rem;
    
}
.menu{
    font-style: italic;
    font-size: 1.2rem;
    
}
.carousel-item img{
    width: 10vw;
    height: 20vw;
	border: solid plum;	
} 